<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid && contact.touched">Not valid Contact Form ENTERIES</div>
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input required 
          minlength="3" 
          maxlength="20" 
          pattern="banana" 
          ngModel 
          name="firstName" 
          #firstName="ngModel" 
          (change)="log(firstName)"
            id="firstName" 
            type="text" 
            class="form-control">
          <div class="alert alert-danger" 
          *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors.required">
              Firstname is requried
            </div>
            <div *ngIf="firstName.errors.minlength">
              Min length is {{firstName.errors.minlength.requiredLength}}
            </div>
            <div *ngIf="firstName.errors.pattern">
              only banana is acceptable
            </div>
          </div>
        </div>
  </div>
 
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list
      </label>
    </div>
    <div class="form-group">
      <label for="contactMethod">Contact Method</label>
      <select multiple ngModel name="contactMethod" id="contactMethod" 
      class="form-control">
      <option value=""></option>
      <option *ngFor="let method of contactMethods" 
        [ngValue]="method">{{method.name}}
    </option>
      </select>
      </div>
    <p>
      {{f.value |json}}
    </p>


    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control">
      </textarea>
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
