<div *ngIf="courses.length>0">
    List of Courses using simple ngIf
</div>
<div *ngIf="courses.length==0">
    No Courses yet using simple ngIf
</div>
<hr/>
<div *ngIf="courses.length>0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    list of courses using ng-template
 </ng-template>
<ng-template #noCourses>
   no courses using ng-template
</ng-template>
<hr/>
<div [hidden]="courses.length==0">
    List of Courses hidden property
</div>
<div [hidden]="courses.length>0">
    No Courses using hidden property
</div>